@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}
html{
scroll-behavior: smooth;
}
body{
	background-color: black;
	color: white;
	font-family: "Happy Monkey",cursive,ariel;
	animation: page 3s;
  font-size:18px;
  margin:15px;
}
@keyframes page {
  from {background-color:grey;}
  to {background-color: black;}
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em; /*solid orange The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(300,end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
